@charset "UTF-8";
body {
  font-family: 'Gotham Pro', sans-serif;
  overflow-x: hidden;
}

/*End*/
/*Создание пустых классов*/
.none {
  display: none;
}

.h100 {
  height: 100%;
}

/*End*/
header {
  width: 100%;
  max-height: 15rem;
  background-color: transparent;
  z-index: 2;
  background-color: white;
}

.px-3 {
  padding: 0 0.5rem;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  z-index: 3;
  width: 100%;
}

.nav .nav-top {
  padding: 0.7rem 0;
  height: 50%;
  width: 100%;
}

.nav .nav-bottom {
  background-color: #00afef;
  height: 0;
  width: 100%;
  opacity: 0;
}

.nav .nav-bottom .nav-list {
  width: auto;
}

.black__block {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 222;
}

.black__block img {
  max-width: 20%;
}

.blue__block {
  background: #00afef;
  height: 100vh;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 222;
}

.mobile__btn {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5%;
  right: 5%;
  width: 7rem;
  height: 7rem;
  background-color: #00afef;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  cursor: pointer;
  z-index: 999999;
}

.mobile__btn span {
  position: relative;
  height: 0.3rem;
  width: 60%;
  background-color: #fff;
}

.mobile__btn span::before, .mobile__btn span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  background-color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile__btn span::before {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.mobile__btn span::after {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.mobile__btn_active span {
  height: 0;
}

.mobile__btn_active span::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile__btn_active span::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 333;
}

.menu__active li {
  margin-top: 5rem;
}

.menu__active li a {
  color: #373435 !important;
}

.nav .social-info {
  height: 50%;
  width: 33%;
  z-index: 1;
}

.nav .social-info .social-icons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .social-icons li {
  margin-top: 2rem;
  position: relative;
  margin-left: 1.5rem;
  width: 5rem;
  height: 5rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.nav .social-icons li a {
  height: 100%;
  width: 100%;
}

.nav .social-icons li a .icon {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  top: 1.5rem;
}

.nav .contact-info {
  width: 33%;
  margin-top: 1.5rem;
}

.nav .contact-info .Number {
  text-align: right;
  font-size: 2rem;
  color: #373435;
}

.nav .contact-info .Work-time {
  color: #373435;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  text-align: right;
}

.nav.sticky {
  height: 6rem;
  width: 100vw;
  left: 0;
  padding-bottom: 2rem;
  position: fixed;
  background-color: #00afef;
  -webkit-box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.35);
  -webkit-animation-name: animationFade;
          animation-name: animationFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 3333;
}

.nav.sticky .logo {
  display: none;
}

.nav.sticky .nav-top {
  display: none !important;
}

.nav.sticky .nav-list li a {
  color: rgba(255, 255, 255, 0.95);
}

.nav.sticky .lang ul li a {
  color: rgba(255, 255, 255, 0.9);
}

@-webkit-keyframes animationFade {
  from {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

@keyframes animationFade {
  from {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.title {
  position: relative;
  text-align: center;
  color: #373435;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4rem;
}

.title::before {
  content: '';
  position: absolute;
  max-width: 14rem;
  height: 0.3rem;
  background-color: #00afef;
  right: 0;
  left: 0;
  bottom: -1.4rem;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20%;
  padding-left: 1rem;
  z-index: 0;
}

.logo-img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.logo-img img {
  width: 100%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  z-index: 1;
}

.nav-list .nav-list-items {
  position: relative;
  margin-left: 2rem;
  text-transform: uppercase;
}

.nav-list .nav-list-items:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: -0.3rem;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-list .nav-list-items:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-list .nav-list-items:hover:after {
  -webkit-transform: translateX(-50%) translateY(-5%);
          transform: translateX(-50%) translateY(-5%);
}

.nav-list .nav-list-items a {
  color: #fff;
  white-space: nowrap;
}

.lang .lang-items {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.lang .lang-items a {
  color: #fff;
}

.ru {
  position: relative;
}

.ru:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: -.5rem;
  background-color: #fff;
}

/*block-1*/
#hostel-info {
  padding: 15rem 0;
  background: url(../images/Rectangle.png) center no-repeat;
  background-size: cover;
  overflow: visible;
}

#hostel-info::before {
  position: absolute;
  content: '';
  bottom: 2rem;
  width: 100%;
  height: 34rem;
  background: url(../images/Vector1.png);
  background-size: cover;
}

.Snow {
  color: #00afef;
}

.title-info {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  margin: 4rem auto 3rem;
}

#hostel-info .container .row .col-12 {
  padding-top: 4rem;
}

.room__img .room__img_star {
  padding: 0.7rem;
  background-color: #FFCA4D;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 10%;
  min-width: 4.5rem;
  max-width: 10rem;
}

.room__img .room__img_star svg {
  max-width: 100%;
}

.kitchen .room__img_star {
  background-color: #00afef;
}

.hall .room__img_star {
  background-color: #373435;
}

#hostel-info .container .row .col-12 .hostel-items {
  text-align: center;
  margin: 1.5rem;
}

#hostel-info .container .row .col-12 .hostel-items .items-title {
  margin: 1rem 0;
  color: #00afef !important;
}

#hostel-info .container .row .col-12 .row .hostel-items .text {
  color: #373435;
  font-size: 1.4rem;
}

/* #Hero section*/
#hero {
  height: 100vh;
  z-index: 1;
}

#hero .hero__content {
  height: 70vh;
}

#hero .hero__content .hero__content_items:nth-child(1) {
  padding-right: 5rem;
}

#hero .hero__content .hero__content_items {
  padding-top: 2rem;
}

#hero .hero__content .hero__content_img {
  top: 14rem;
  right: 80%;
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(../images/bg-1.jpeg) center center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 0%;
  z-index: 2;
}

#hero .hero__content .hero__content_img .hero__content_img_item {
  position: absolute;
  height: 35%;
  width: 75%;
  top: 40%;
  opacity: 0;
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
  background: url(../images/bg-2.jpeg) center;
  background-size: cover;
  color: #fff;
}

#hero .hero__content .btn {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #00afef;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0.2rem solid #00afef;
}

#hero .hero__content .order:hover {
  background-color: #fff;
  color: #00afef;
  border: 0.2rem solid #00afef;
}

#hero .hero__content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #373435;
}

#hero .hero__content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 3rem 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

.snow-color {
  color: #00afef;
}

.our-features {
  margin: 5rem 0;
}

.our-features .features-items {
  display: block;
  font-size: 2rem;
  margin-top: 0.2rem;
}

.fa.fa-check {
  color: #43be49;
}

#Facilities {
  padding: 15rem 0;
  background-color: #373435;
}

#Facilities .title {
  color: #fff;
}

#Facilities .title-info {
  color: rgba(255, 255, 255, 0.8);
}

#Facilities .facilities__wrapper {
  padding-top: 5rem;
}

#Facilities .facilities__wrapper .facilities__col {
  padding: 2rem;
}

#Facilities .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem;
}

.facilities__left {
  position: absolute;
  min-height: 40rem;
  width: 50%;
  background: url(../images/rooms/k8.JPG) center no-repeat;
  background-size: cover;
  right: 0;
  z-index: 1;
}

#gallery {
  padding: 0 0 0;
}

#gallery .owl-dots {
  display: none;
}

#gallery .owl-nav {
  display: none;
}

#gallery .gallery-wrapper {
  width: 25%;
}

#gallery .gallery-item img {
  width: 100%;
  height: 30rem;
}

.row .home-items {
  padding: 2rem 1rem 0 1rem;
  height: 100%;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.row .home-items:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.row .home-items img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-height: 10rem;
  max-width: 100%;
}

.items-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 3rem;
  text-transform: uppercase;
  color: #fff;
}

/*/////Footer//////*/
footer {
  background-color: #373435;
  padding: 7rem 0 0;
}

footer .title {
  color: #fff;
}

footer .title-info {
  color: rgba(255, 255, 255, 0.5);
  width: 60%;
}

footer .container .row {
  margin: 0 -1.5rem;
}

.foot-item .map {
  min-height: 50rem;
  width: 100%;
}

.contacts {
  padding: 5rem;
  color: #fff;
  font-size: 2rem;
}

.contacts a {
  color: #fff;
}

.contacts li {
  margin-top: 2rem;
  display: block;
}

.foot-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #e0e0e0;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.foot-bottom {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.foot-bottom .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyright {
  padding-top: 1rem;
  color: white;
  font-size: 1.6rem;
  width: 50%;
}

.author {
  text-align: center;
  padding-top: 0.8rem;
  font-family: "Segoe UI",sans-serif;
  font-size: 2rem;
  font-style: italic;
  width: 25%;
}

.author a {
  color: rgba(255, 255, 255, 0.3) !important;
}

#Testimonials {
  padding: 10rem 0 5rem;
  background-color: #E8E8E8;
}

#news-slider {
  margin-top: 5rem;
}

.post-slide {
  position: relative;
  padding: 1rem 0 3rem 0;
  margin: 0 1rem;
}

.post-slide .post-img img {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 20%;
  border-radius: 50%;
}

.post-slide .read {
  position: absolute;
  text-align: center;
  padding: 1rem 3rem;
  bottom: 3rem;
  left: 5rem;
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear 0s;
  transition: opacity 0.4s linear 0s;
  border: 2px solid #fff;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: #00afef;
  border-color: #00afef;
}

.post-slide .post-content {
  background-color: #fff;
  padding: 1rem;
  min-height: 21rem;
  max-height: 25rem;
  position: relative;
}

.post-slide .post-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00afef;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 3.5rem;
  display: block;
  margin-top: 1rem;
  border-bottom: 0.4rem solid #222;
}

.post-slide .post-description {
  font-size: 1.4rem;
  color: #373435;
  margin-bottom: 2rem;
  font-family: "Gotham Pro",sans-serif;
}

@media screen and (max-width: 1921px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1441px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1199.98px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 991.98px) {
  html {
    font-size: 8px;
  }
  .gallery-wrapper {
    width: 50% !important;
  }
  .logo {
    padding: 0;
    width: 25%;
  }
  .nav.sticky {
    height: auto;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    background-color: transparent;
  }
  .mobile__btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .Vertical {
    display: none;
  }
  .facilities__left {
    position: relative;
    width: 100%;
  }
  .nav .social-info, .nav .contact-info, .lang {
    display: none;
  }
  .nav-bottom {
    background-color: #fff !important;
    height: 0 !important;
    padding: 0 !important;
  }
  .logo-img {
    height: 100%;
    max-width: 100%;
    text-align: left;
  }
  .nav .nav-list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw !important;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
  }
  .nav .nav-list li {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 768.98px) {
  html {
    font-size: 9px;
  }
  .logo {
    width: 50%;
  }
  .row .col-1 img {
    width: 40%;
  }
  #hero .hero__content .hero__content_img {
    top: 5rem;
    margin-top: 5rem;
    position: relative;
    width: 100% !important;
    max-height: 30rem;
  }
  #hero .hero__content .hero__content_img .hero__content_img_item {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
            transform: translateX(-50%) translateY(-50%) !important;
  }
  .author {
    text-align: left;
  }
  #hero .booking {
    width: 50%;
  }
  #hostel-info .container .row .col-8 .col-3 {
    padding: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: 575.98px) {
  .gallery-wrapper {
    width: 100% !important;
  }
  .gallery-wrapper img {
    height: 40rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .row .col-1 img {
    width: 30%;
  }
  html {
    font-size: 8px;
  }
  #hostel-info .container .row .col-8 .col-3 {
    padding: 1rem;
  }
  .rooms__btn {
    font-size: 2rem !important;
  }
  .rooms__btn {
    padding: 1.6rem 1.2rem;
  }
}

#rooms {
  background-color: #E8E8E8;
  padding: 5rem 0;
}

#rooms .rooms-sub-title {
  font-size: 2.2rem;
  color: #373435;
}

#rooms .rooms-sub-info {
  font-size: 1.4rem;
  margin: 1rem 0;
  width: 80%;
  color: rgba(0, 0, 0, 0.6);
}

#rooms .rooms__wrap {
  padding: 1rem;
}

#rooms .rooms__item {
  border-radius: 0.5rem;
  min-height: 28rem;
  background-color: #fff;
  overflow: hidden;
}

#rooms .rooms__item .rooms__item_text {
  padding: 2rem;
}

#rooms .rooms__item img {
  height: 25rem;
  min-width: 100%;
}

#rooms .rooms__item h3 {
  margin: 2rem 0 1rem;
  font-size: 1.8rem;
  color: #373435;
}

#rooms .rooms__item p {
  font-size: 1.3rem;
  color: #B6B6B6;
  margin-bottom: 1rem;
}

#rooms .rooms__item .rooms__btn {
  font-family: "Sansita",sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #00afef;
  color: #fff;
  font-size: 1.6rem;
  min-width: 100%;
  padding: 1rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.5rem;
}

#rooms .rooms__item .rooms__btn:hover {
  background-color: #fff;
  color: #00afef;
  -webkit-box-shadow: inset 0 0 0 0.2rem #00afef;
          box-shadow: inset 0 0 0 0.2rem #00afef;
}
/*# sourceMappingURL=style.css.map */